#root,
html,
body {
  height: 100vh;
}

body {
  margin: 0;
  /* background: linear-gradient(to bottom, #4b79a1 0%, #283e51 100%); */
  background-color: whitesmoke;
}

* {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}
